<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    (click)="drawer.toggle()"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  ></button>
</mat-toolbar>
<mat-drawer #drawer class="dashboard-sidenav" mode="side">
  <mat-nav-list>
    <a mat-list-item  (click)="drawer.toggle()"  routerLink="dashboard/alumnos"> Alumnos </a>
    <a mat-list-item (click)="drawer.toggle()" routerLink="cursos"> Cursos </a>
    <a mat-list-item (click)="drawer.toggle()" routerLink="inscripciones">
      Inscripciones
    </a>
  </mat-nav-list>
</mat-drawer>
<mat-drawer-container class="dashboard-container" autosize>
  <router-outlet></router-outlet>
</mat-drawer-container>
